# Triadic census

In [1]:
import raphtory as rp
import pandas as pd

In [2]:
import raphtory as rp

In [3]:
rows = [
    (1, 1, 2),
    (1, 2, 3),
    (1, 3, 1),
    (2, 3, 4),
    (2, 4, 1),
    (2, 4, 2)
]

ks = ["time","a","b"]
df = pd.DataFrame(rows, columns=ks)
df

   time  a  b
0     1  1  2
1     1  2  3
2     1  3  1
3     2  3  4
4     2  4  1
5     2  4  2

In [4]:
g = rp.Graph()

In [5]:
g.load_edges_from_pandas(
    df,
    time='time',
    src="a",
    dst="b",
)

HBox(children=(HTML(value=''), IntProgress(value=0, max=6), HTML(value='')))

In [6]:
from raphtory.algorithms import global_triadic_census

In [7]:
global_triadic_census(g)

{'210': 0,
 '300': 0,
 '030T': 2,
 '201': 0,
 '021C': 0,
 '120C': 0,
 '102': 0,
 '030C': 2,
 '021D': 0,
 '111D': 0,
 '120D': 0,
 '003': 0,
 '021U': 0,
 '012': 0,
 '120U': 0,
 '111U': 0}

# Karate

In [8]:
import networkx as nx
import pandas as pd
import raphtory as rp
import random
from raphtory.algorithms import global_triadic_census

In [9]:
G = nx.karate_club_graph().to_directed()

In [10]:
nx.triadic_census(G)

{'003': 3971,
 '012': 0,
 '102': 1575,
 '021D': 0,
 '021U': 0,
 '021C': 0,
 '111D': 0,
 '111U': 0,
 '030T': 0,
 '030C': 0,
 '201': 393,
 '120D': 0,
 '120U': 0,
 '120C': 0,
 '210': 0,
 '300': 45}

In [11]:
rows = []


for e in G.edges():
    u, w = e
    t =  f'2017-11-{random.choice(range(1,30)) } 00:00:00'
    G[u][w]["t"] = t
    rows.append( (u,w,t) )
    
ks = ["a","b","time"]
df = pd.DataFrame(rows, columns=ks)
df["time"] = pd.to_datetime(df["time"])
df

      a   b       time
0     0   1 2017-11-07
1     0   2 2017-11-20
2     0   3 2017-11-28
3     0   4 2017-11-18
4     0   5 2017-11-23
..   ..  ..        ...
151  33  29 2017-11-11
152  33  30 2017-11-21
153  33  31 2017-11-05
154  33  32 2017-11-05
155  33  22 2017-11-12

[156 rows x 3 columns]

In [12]:
g = rp.Graph()

In [13]:
g.load_edges_from_pandas(
    df,
    time='time',
    src="a",
    dst="b",
)

HBox(children=(HTML(value=''), IntProgress(value=0, max=156), HTML(value='')))

In [14]:
global_triadic_census(g)

{'021C': 0,
 '120C': 0,
 '021D': 0,
 '201': 393,
 '030T': 0,
 '111U': 0,
 '102': 0,
 '012': 0,
 '021U': 0,
 '111D': 0,
 '030C': 0,
 '120D': 0,
 '003': 0,
 '210': 0,
 '120U': 0,
 '300': 45}

In [15]:
rows = [
    (1, 1, 2),
    (1, 2, 3),
    (1, 3, 1),
    (2, 3, 4),
    (2, 4, 1),
    (2, 4, 2)
]

ks = ["time","a","b"]
df = pd.DataFrame(rows, columns=ks)
df

   time  a  b
0     1  1  2
1     1  2  3
2     1  3  1
3     2  3  4
4     2  4  1
5     2  4  2

In [16]:
g = rp.Graph()

In [17]:
g.load_edges_from_pandas(
    df,
    time='time',
    src="a",
    dst="b",
)

HBox(children=(HTML(value=''), IntProgress(value=0, max=6), HTML(value='')))

In [18]:
from raphtory.algorithms import global_triadic_census

In [ ]:
global_triadic_census(g)

{'030T': 2,
 '120C': 0,
 '012': 0,
 '120D': 0,
 '021C': 0,
 '210': 0,
 '111U': 0,
 '102': 0,
 '111D': 0,
 '003': 0,
 '021D': 0,
 '030C': 2,
 '201': 0,
 '021U': 0,
 '300': 0,
 '120U': 0}

In [20]:
global_triadic_census(g, use_new_triad_names=True)

{'15': 0,
 '6': 2,
 '13': 0,
 '2': 0,
 '7': 2,
 '3': 0,
 '5': 0,
 '11': 0,
 '4': 0,
 '10': 0,
 '1': 0,
 '14': 0,
 '0': 0,
 '9': 0,
 '8': 0,
 '12': 0}